.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0000;
  height: 30px;
  position: absolute;
  top: 10px;
  left: 30px;
  width: 140px;
}
.logo h2 {
  cursor: pointer;
  color: var(--text-logo);
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
}
@media screen and (max-width: 375px) {
  .logo {
    top: 10px;
    left: 20px;
  }
}
